<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <h2>The last review</h2>
    <div *ngIf="posledneRecenzie">
      <p>{{ posledneRecenzie.text }}</p>
      <p>{{ posledneRecenzie.timestamp | date:'medium' }}</p>
    </div>

    <div class="filter">
      <h1>Filter of products</h1>
      <app-app-filter [productList]="productList" (filteredList)="handleFilter($event)">
        <app-app-filter-options></app-app-filter-options>
      </app-app-filter>
    </div>



    <div class="row">
      <div class="col-md-3" *ngFor="let product of productList">
        <div class="card">
          <app-informations [data]="product"></app-informations>
          <app-reviews [reviews]="product.reviews" (reviewAdded)="lastReviews($event)"></app-reviews>
        </div>
      </div>
    </div>




  </div>
</body>
</html>
