<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h2>Posledná recenzia</h2>
<div *ngIf="posledneRecenzie">
  <p>{{ posledneRecenzie.text }}</p>
  <p>{{ posledneRecenzie.timestamp | date:'medium' }}</p>
</div>

<div class="generatorWrapper" *ngFor="let product of productList">
  <app-informations [data]="product"></app-informations>
  <app-reviews [reviews]="product.reviews" (reviewAdded)="lastReviews($event)"></app-reviews>
</div>

</body>
</html>
