<mat-card class="infoWrapper">
  <mat-card-header>
    <mat-card-title>
      <h1>{{data.name}}</h1>
    </mat-card-title>
    <mat-card-subtitle>
      <h2>Category: {{data.productCategory}}</h2>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="coordinates">X: {{ positionX }}, Y: {{ positionY }}</div>

    <h2><span *ngIf="!(data.price === 0)">{{data.price}}</span></h2>
    <h4>
      <span *ngIf="!(data.stock === 0)">{{data.stock}} pcs</span>
      <span *ngIf="(data.stock === 0)" class="red">Unavailable</span>
    </h4>

    <h2>Description</h2>
    <span *ngIf="!(data.description.length === 0)">
      <strong>Description: </strong>{{data.description}}
    </span>
    <hr>

    <div class="vendors">
      <div><strong>Sellers: </strong></div>
      <div *ngFor="let vendor of data.vendors">
        <div *ngIf="!(vendor.vendorStock === 0)">
          <span>{{vendor.vendorName}}: {{vendor.vendorStock}} pcs</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
